body {
	background-color: rgba(0, 123, 255, 0.3);
	color: #ccffcc;
	font-family: cursive;
	padding: 0px;
}
h1 {
	font-size: 100px;
}
a, a:hover {
	color: yellow;
	text-decoration: none;
}
.jumbotron {
	background-color: rgba(0, 123, 255, 0.5);
	border-radius: 0px;
	margin: 0px;
	padding: 75px 120px;
}
.container-fluid {
	margin: 0px;
	padding: 0px;
}
small {
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}
/*.row {
	padding: 20px 100px;
}*/